.button {
    background-color: #a9aaab;
    color: white;
    padding: 1em 2em;
    font-size: .8rem;
    border-radius: 10px;
}
.buttonSuccess {
    background-color: #5acdf2;
    color: white;
    padding: 1em 2em;
    font-size: .8rem;
    border-radius: 10px;
    margin: 0 0 0 1em;
}
