.green {
    background-color: #FFF;
    font-size: 18px;
    color: green;
    padding: 0.5em;
    &:hover {
        background:rgba(0, 0, 0, 0.05);
    }
}
.red {
    background-color: #FFF;
    font-size: 18px;
    color: red;
    padding: 0.5em;
    &:hover {
        background:rgba(0, 0, 0, 0.05);
    }
}
.blue{
    background-color: #FFF;
    font-size: 18px;
    color: #1E88E5;
    padding: 0.5em;
    &:hover {
        background:rgba(0, 0, 0, 0.05);
    }
}