.part {
    .title {
        font-weight: 500;
        color: #6F6F6F;
        padding: 1em;
        user-select: none;
        
    }
    // .select {
    //     background-color: #2196f3;
    //     color: #fff;
    // }
}