.header {
    font-size: 2rem;
    padding: 1rem 0;
}
.container {
    width: 100%;
    
    
    background-color: #fff;
    
    .title {
        width: 100%;
        padding: 1em;
        font-weight: 500;
        font-size: 25px;
    }
    .content {
        padding: 1em 0 2em 1em;
        .choose {
            .chooseTitle {
                margin: 0 1em 0 0;
            }
        }
        .languages {
            padding: 1em 0 1em 0;
            color: rgba(0, 0, 0, 0.53);
            font-weight: 500;
        }
        .languagesSelector {
            width: 95%;
        }
    }
    .footer {
        float: right;
        padding: 0.5em 2.5em 1em 0;
    }
    
}
.form {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .input {
            width: 95%;
            margin: 0 0 1em 0;
            border: 1px solid;
            border-radius: 4px;
            padding: 0.5em;
        }
    }
   
}
