.container{
    .header {
        color: rgba(0, 0, 0, 0.53);
        font-size: 1em;
        font-weight: 500;
        margin: 1.5em 0 1em 1em;
    }
    .description{
        font-size: 0.9em;
        margin: 1.5em 0 1em 1em;
    }
    .content{
        padding: 1em 0 0 1em;
    }
    .checkbox{
        margin-right: 1em;
    }
}
