#login {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 4em;
        height: 4em;
        margin: 0 auto;
        display: block;
      }

    h1 {
        text-align: center;
        font-size: 2.5em;
        margin: .4em 0 .67em;
    }

    form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 16em;
        width: 90%;
      }

    .recaptcha form {
        min-width: 304px;
    }

    #recaptcha {
        margin: .5em 0 0;
    }

    .wrong {
        background: var(--red);
        color: #fff;
        padding: .5em;
        text-align: center;
        animation: .2s opac forwards;
      }
    
      @keyframes opac {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      p {
        cursor: pointer;
        text-align: right;
        color: var(--blue);
        text-transform: lowercase;
        font-weight: 500;
        font-size: 0.9rem;
        margin: .5rem 0;
      }
  }

  .button {
    outline: 0;
    border: 0;
    padding: .5em 1em;
    border-radius: .1em;
    cursor: pointer;
    background: var(--blue);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    transition: .1s ease all;
  }
  
  .button:hover {
    background-color: var(--dark-blue);
  }
  
  .button--block {
    margin: 0 0 0.5em;
    display: block;
    width: 100%;
  }
  .input {
    border-radius: .1em;
    padding: .5em 1em;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: .2s ease all;
    color: #333;
    margin: 0;
  }
  
  .input:hover,
  .input:focus {
    border-color: rgba(0, 0, 0, 0.2);
  }
  
  .input--block {
    margin-bottom: .5em;
    display: block;
    width: 100%;
  }