.result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    width: 100%;
    flex-wrap: wrap;
    .container {
        margin: 1em;
        background-color: #fff;
        
        .title {
            padding: 0.5em;
            font-size: 20px;
            font-weight: 500;
        }
        .types {
            display: flex;
            flex-direction: row;
            
        }
    }
}