.container{
    // height: 100%;
    position: relative;
    top: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.res{
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 20em;
    max-height: 15em;
    overflow-y: scroll;
    .obo{
        // border: 1px solid #ccc;
        // border-radius: 10px;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width: 100%;

        &:hover{
            background: #ccc;
            border-radius: 10px;
        }

        .path{
            padding-left: 1em;
            padding-right: 1em;
            max-width: 40%;
            white-space: nowrap; /* không xuống dòng */
            overflow: hidden; /* ẩn nội dung bị thừa */
            text-overflow: ellipsis; /* thêm dấu ... đằng sau */
            user-select: none;

        } 
        

        .left{

            display: flex;
            width: 60%;
           
            span{
                padding-left: 0.5em;
                padding-right: 1em;
                max-width: 80%;
                white-space: nowrap; /* không xuống dòng */
                overflow: hidden; /* ẩn nội dung bị thừa */
                text-overflow: ellipsis; /* thêm dấu ... đằng sau */
                user-select: none;
            }
            img{
                max-width: 15%;
                padding-left: 0.5em;
                max-height: 90%;
            }
        }

        

        // .name{
        //     padding-right: 3em;
        // }

    }
}