.card {
    position: relative;
    margin: 0 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: auto;

    .card-title {
        padding: 1.5em 1em 1em;
        display: flex;
      }
    
      .card-title>*:first-child {
        margin-right: auto;
      }
      &>div {
        padding: 1em 1em;
      }

      &>div:first-child {
        padding-top: 1.5em;
      }

      &>div:last-child {
        padding-bottom: 1.5em;
      }
      .card-action {
        text-align: right;
      }
      h2 {
        font-weight: 500;
      }
      h3 {
        color: rgba(0, 0, 0, 0.53);
        font-size: 1em;
        font-weight: 500;
        margin: 2em 0 1em;
      }

      code {
        word-wrap: break-word;
      }
  }

  .card .card-title * {
    margin: 0;
  }

  .card.floating {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    max-width: 25em;
    width: 90%;
    max-height: 95%;
    animation: .1s show forwards;
    
  }

  .card>*>*:first-child {
    margin-top: 0;
  }
  
  .card>*>*:last-child {
    margin-bottom: 0;
  }

  .button {
    outline: 0;
    border: 0;
    padding: .5em 1em;
    border-radius: .1em;
    cursor: pointer;
    background: var(--blue);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    transition: .1s ease all;
  }
  
  .button:hover {
    background-color: var(--dark-blue);
  }

  .button--flat {
    color: var(--dark-blue);
    background: transparent;
    box-shadow: 0 0 0;
    border: 0;
    text-transform: uppercase;
  }
  
  .button--flat:hover {
    background: var(--moon-grey);
  }

  .button--flat.button--grey {
    color: #6f6f6f;
  }
  
  .button--flat:disabled:hover{
    color: #6f6f6f;
    background: transparent;
    box-shadow: 0 0 0;
    border: 0;
    text-transform: uppercase;
  }
  .button--flat:disabled{
    color: #6f6f6f;
    background: transparent;
    box-shadow: 0 0 0;
    border: 0;
    text-transform: uppercase;
  }
  
  .file-list {
    max-height: 50vh;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        width: 100%;
        user-select: none;
        border-radius: .2em;
        padding: .3em;
      }
    
    li[aria-selected=true] {
        background: var(--blue) !important;
        color: #fff !important;
        transition: .1s ease all;
      }

      li:hover {
        background-color: #e9eaeb;
        cursor: pointer;
      }

      // li:before {
      //   content: "folder";
      //   color: #6f6f6f;
      //   vertical-align: middle;
      //   line-height: 1.4;
      //   font-family: 'Material Icons';
      //   font-size: 1.75em;
      //   margin-right: .25em;
      // }

      li[aria-selected=true]:before {
        color: white;
      }
  }

  .li{
    display: flex;
    align-items: center;
    span{
      padding-left: 1em;
      padding-right: 1em;
      // max-width: 70%;
      white-space: nowrap; /* không xuống dòng */
      overflow: hidden; /* ẩn nội dung bị thừa */
      text-overflow: ellipsis; /* thêm dấu ... đằng sau */
      user-select: none;
      
    }
    img{
      width: 10%;
    }
  }

  .back{
    width: 10%;
    padding: 0.5em 0.5em !important;
    &:hover{
      background: #ccc;

    }
  }

  .input {
    border-radius: .1em;
    padding: .5em 1em;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: .2s ease all;
    color: #333;
    margin: 0;
  }
  
  .input:hover,
  .input:focus {
    border-color: rgba(0, 0, 0, 0.2);
  }
  
  .input--block {
    margin-bottom: .5em;
    display: block;
    width: 100%;
  }

  .card {
    position: relative;
    margin: 0 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: auto;

    .card-title {
        padding: 1.5em 1em 1em;
        display: flex;
      }
    
      .card-title>*:first-child {
        margin-right: auto;
      }
      &>div {
        padding: 1em 1em;
      }

      &>div:first-child {
        padding-top: 1.5em;
      }

      &>div:last-child {
        padding-bottom: 1.5em;
      }
      .card-action {
        text-align: right;
      }
      h2 {
        font-weight: 500;
      }
      h3 {
        color: rgba(0, 0, 0, 0.53);
        font-size: 1em;
        font-weight: 500;
        margin: 2em 0 1em;
      }

      code {
        word-wrap: break-word;
      }
  }

  .card .card-title * {
    margin: 0;
  }

  .card.floating {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    max-width: 25em;
    width: 90%;
    max-height: 95%;
    animation: .1s show forwards;
    
  }

  .card>*>*:first-child {
    margin-top: 0;
  }
  
  .card>*>*:last-child {
    margin-bottom: 0;
  }

  .button {
    outline: 0;
    border: 0;
    padding: .5em 1em;
    border-radius: .1em;
    cursor: pointer;
    background: var(--blue);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    transition: .1s ease all;
  }
  
  .button:hover {
    background-color: var(--dark-blue);
  }

  .button--flat {
    color: var(--dark-blue);
    background: transparent;
    box-shadow: 0 0 0;
    border: 0;
    text-transform: uppercase;
  }
  
  .button--flat:hover {
    background: var(--moon-grey);
  }

  .button--flat.button--grey {
    color: #6f6f6f;
  }
  