.card {
    position: relative;
    margin: 0 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: auto;

    .card-title {
        padding: 1.5em 1em 1em;
        display: flex;
      }
    
      .card-title>*:first-child {
        margin-right: auto;
      }
      &>div {
        padding: 1em 1em;
      }

      &>div:first-child {
        padding-top: 1.5em;
      }

      &>div:last-child {
        padding-bottom: 1.5em;
      }
      .card-action {
        text-align: right;
      }
      h2 {
        font-weight: 500;
      }
      h3 {
        color: rgba(0, 0, 0, 0.53);
        font-size: 1em;
        font-weight: 500;
        margin: 2em 0 1em;
      }

      code {
        word-wrap: break-word;
      }
  }

  .card .card-title * {
    margin: 0;
  }

  .card.floating {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    max-width: 25em;
    width: 90%;
    max-height: 95%;
    animation: .1s show forwards;
    
  }

  .card>*>*:first-child {
    margin-top: 0;
  }
  
  .card>*>*:last-child {
    margin-bottom: 0;
  }

  .card-content table {
    margin: 0 -1em;
    width: calc(100% + 2em);
  }
  .card-action.full {
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;

    .action {
        flex: 1;
        padding: 2em;
        border-radius: 0.2em;
        border: 1px solid rgba(0, 0, 0, 0.1);
        text-align: center;
        

        i {
            display: block;
            padding: 0;
            margin-bottom: 0.25em;
            font-size: 4em;
        }

        .title {
        font-size: 1.5em;
        font-weight: 500;
        }

    }

    .action{
        margin: 0 0.25em 0.50em;
    }
  }
  
  .material-icons {
    font-size: 1.5rem;
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
  }

  .action {
    display: inline-block;
    cursor: pointer;
    transition: 0.2s ease all;
    border: 0;
    margin: 0;
    color: #546e7a;
    border-radius: 50%;
    background: transparent;
    padding: 0;
    box-shadow: none;
    vertical-align: middle;
    text-align: left;
    position: relative;
  }
  
  .action.disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
  
  .action i {
    padding: 0.4em;
    transition: 0.1s ease-in-out all;
    border-radius: 50%;
  }
  
  .action:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .action ul {
    position: absolute;
    top: 0;
    color: #7d7d7d;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
  }
  
  .action ul li {
    line-height: 1;
    padding: 0.7em;
    transition: 0.1s ease background-color;
  }
  
  .action ul li:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .icon{
    width: 50%;
    height: 50%;
  }