@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --blue: #2196f3;
  --dark-blue: #1E88E5;
  --red: #F44336;
  --dark-red: #D32F2F;
  --moon-grey: #f2f2f2;

  --icon-red: #da4453;
  --icon-orange: #f47750;
  --icon-yellow: #fdbc4b;
  --icon-green: #2ecc71;
  --icon-blue: #1d99f3;
  --icon-violet: #9b59b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */



body {
  font-family: "Roboto", sans-serif;
  padding-top: 4em;
  background-color: #fafafa;
  color: #333333;
}
main {
  padding-top: 1em;
  padding-bottom: 3em;
}



header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);

  position: fixed;
  top: 0;
  left: 13.65em;
  height: 4em;
  width: 100%;
  padding: 0;
  display: flex;
  z-index: 1000;
  padding: 0.5em 0.5em 0.5em 1em ;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
}
.white {
  color: white;
}
.red {
  color: red;
}
header > * {
  flex: 0 0 auto;
}

header img {
  /* margin-right: 1em; */
}

header img {
  /* height: 2.5em; */
}
.Toastify__progress-bar--success {
  background: green !important;
}
.Toastify__toast-body {
  text-align: left !important;
}