.card {
    position: relative;
    margin: 0 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: auto;

    .card-title {
        padding: 1.5em 1em 1em;
        display: flex;
      }
    
      .card-title>*:first-child {
        margin-right: auto;
      }
      &>div {
        padding: 1em 1em;
      }

      &>div:first-child {
        padding-top: 1.5em;
      }

      &>div:last-child {
        padding-bottom: 1.5em;
      }
      .card-action {
        text-align: right;
      }
      h2 {
        font-weight: 500;
      }
      h3 {
        color: rgba(0, 0, 0, 0.53);
        font-size: 1em;
        font-weight: 500;
        margin: 2em 0 1em;
      }

      code {
        word-wrap: break-word;
      }
  }

  .card .card-title * {
    margin: 0;
  }

  .card.floating {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    max-width: 55em;
    width: 90%;
    max-height: 95%;
    animation: .1s show forwards;
    
  }

  .card>*>*:first-child {
    margin-top: 0;
  }
  
  .card>*>*:last-child {
    margin-bottom: 0;
  }

  .button {
    outline: 0;
    border: 0;
    padding: .5em 1em;
    border-radius: .1em;
    cursor: pointer;
    background: var(--blue);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    transition: .1s ease all;
  }
  
  .button:hover {
    background-color: var(--dark-blue);
  }

  .button--flat {
    color: var(--dark-blue);
    background: transparent;
    box-shadow: 0 0 0;
    border: 0;
    text-transform: uppercase;
  }
  
  .button--flat:hover {
    background: var(--moon-grey);
  }

  .button--flat.button--grey {
    color: #6f6f6f;
  }
  