.title {
    margin-left: 1em;
}
.nav {
    display: block;
    position: fixed;
    width: 17em;
    top: 0em;
    left: 0;
    z-index: 999;
    padding: .5em 2em;
    border-right: 1px solid #E9E9E9;
    height: 100vh;
    font-size: .8rem;
    .container {
        
        
    }
    .containerBottom {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
    .action {
        vertical-align: middle;
        color:#546e7a;
        
    }
    .action {
      width: 100%;
      color:#546e7a;
      display: flex;
      border-radius: 0;
      font-size: 1.1em;
      padding: 1em 1em 1em 2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      
    }
    .action:hover {
        // background-color: #8e9294;
        background:rgba(0, 0, 0, 0.05);
        border-radius: 10px;
    }
    .actionActive {
        vertical-align: middle !important;
        color:#546e7a !important;
        background-color: #CDF0FF !important;
        width: 100%;
        color:#546e7a;
        display: flex;
        border-radius: 10px;
        font-size: 1.1em;
        padding: 1em 1em 1em 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .buttonContainer {
      position: absolute;
      bottom: 0;
      margin: 0 0 1em 0;
      .buttonBlue {
        width: 100%;
        
        display: flex;
        border-radius: 35px;
        background-color: #59CDFF;
        font-size: 1.1em;
        padding: 1em 1em 1em 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: 1px 2px 2px silver;
        margin: 0 0 1em 0;
        color: white;
        &:hover {
          box-shadow: 1px 2px 6px silver;
        }
      }
      .button{
        width: 100%;
        color: #546e7a;
        display: flex;
        border-radius: 35px;
        background-color: #fcfcfc;
        font-size: 1.1em;
        padding: 1em 1em 1em 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: 1px 3px 6px silver;
        margin: 0 0 1em 0;
        &:hover {
          box-shadow: 1px 2px 10px silver;
        }
      }
    }
  }
    
  



  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    animation: .1s show forwards;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0.25em 1em 0 0;
    border-radius: 50%;
    cursor: pointer;
    // &:hover {
    //   box-shadow: 0px 0px 4px rgba(23, 25, 30, 0.1);
    // }
  }
  @keyframes show {
    0% {
      visibility: hidden;
      opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
    }