.title {
    margin-left: 1em;
}
.nav {
    display: block;
    position: fixed;
    width: 14em;
    top: 4em;
    left: 0;
    .container {
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        
    }
    .action {
        vertical-align: middle;
        color:#546e7a;
        
    }
    .action:hover {
        // background-color: #8e9294;
        background:rgba(0, 0, 0, 0.05);
    }
  }
    
  

.action {
    width: 100%;
    color:#546e7a;
    display: flex;
    border-radius: 0;
    font-size: 1.1em;
    padding: 1em 1em 1em 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }
