.breadcrumbs {
    display: flex;
    flex-direction: row;
    color: #6f6f6f;
    height: 3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    .item {
        
        .name {
            margin: 0.25em 0.5em 0.25em 0;
            padding: 0.15em 0.15em 0.15em 0 ;
            border-radius: 2px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
       
    }
}