.wrapper{
    height: 33px;

}


.container{
    height: 33px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(23, 25, 30, 0.1);
    background-color: #FFFFFF;

}

.icon{
    

    padding-left: 15px;
    
}