#search {
    position: relative;
    height: 3em;
    width: 15em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
      max-width: 25em;
    
      .click {
        background-color: #f5f5f5;
        height: 100%;
        padding: 0.75em 0 0 0.75em;
        border-radius: 0.3em 0 0 0.3em ;
      }
      #input {
        background-color: #f5f5f5;
        display: flex;
        height: 100%;
        padding: 0em 0.75em;
        border-radius: 0 0.3em 0.3em 0;
        transition: .1s ease all;
        align-items: center;
        z-index: 2;
        
      }
      #inputSearching {
        background-color: #f5f5f5;
        display: flex;
        height: 100%;
        
        padding: 0em 0.75em;
        border-radius: 0 0.3em 0.3em 0;
        transition: .1s ease all;
        align-items: center;
        z-index: 2;
      }
    .inputField {
        width: 100%;
        border: 0;
        background-color: #f5f5f5;
        padding: 0;
    }

    

   
  }
